<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/isaia/IdeaProjects/Michael-s_Selenlum_Project">
        <classes>
            <class name="Custom_Framing"></class>

            <class name="Kids_Section"></class>
            <class name="Party_and_baloons_Page"></class>
        </classes>
    </test>
</suite>